@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid:300,400&display=swap');

/* extra */

.teach-left {
  float: left;
  width: 75%;
}
.teach-right {
  float: right;
  width: 20%;
}
.left-minus {
  width: 40%;
  float: left;
  padding-top: 1em;
}
.right-plus {
  width: 57%;
  float: right;
  padding-top: 1em;
}
.left-third {
  width: 30%;
  float: left;
  padding-top: 1em;
}
.right-two-thirds {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.left-column-small {
  width: 12%;
  height: 92%;
  float: left;
}
.right-column-large {
  width: 82%;
  height: 92%;
  float: right;
}



/* Modifications */

body {
  font-family: Montserrat, 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  font-weight: 400;
  color: #657b83;
}
h1, h2, h3 {
  font-family: 'Londrina Solid', cursive;
  font-weight: normal;
  color: #78b0b4;
  text-shadow:
  1px 1px 0 #353839,
   -1px -.5px 0 #353839,
    .5px -1px 0 #353839,
    -.5px 1px 0 #353839,
     2px .5px 0 #353839;
}
.remark-slide-content .small p {
    font-size: 15px;
}
.remark-code, .remark-inline-code {
  font-family: 'Londrina Solid', cursive;
}

strong{color:#efba38;}
a, a > code {
  color: #f5ab4d;
  text-decoration: none;
}

.inverse {
  background-color: #fafafa;
  color: #fdf6e3;
  text-shadow: none;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f5ab4d;
  font-size: 120px;
  text-shadow:
  2px 2px 0 #353839,
   -2px -1px 0 #353839,
    1px -3px 0 #353839,
    -1px 2px 0 #353839,
     3px 1px 0 #353839;
}
.title-slide h2, .title-slide h3 {
  color: #fdf6e3;
}
.title-slide {
  background-color: #fafafa;
}
.title-slide h1{
  font-size: 151px;
  color: #f96c3b;
  text-shadow:
  3px 3px 0 #353839,
   -3px -2px 0 #353839,
    2px -4px 0 #353839,
    -2px 3px 0 #353839,
     4px 2px 0 #353839;
}
.remark-slide-content h3 {
    font-size: 51px;
}
.remark-code, .remark-inline-code {
  font-family: 'Londrina Solid', cursive;
}
.remark-code {
  font-size: 0.9em;
}
.remark-inline-code {
  font-size: 1em;
  color: #bbbe4a;
}
